<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/login" method="post" th:action="@{/login}" th:object="${loginDto}">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required>
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required>
    <br/>
    <button type="submit">Login</button>
</form>
<div th:if="${loginError}">
    <p style="color:red" th:text="${loginError}"></p>
</div>
<br/>
<a th:href="@{/user/signup}">Sign Up</a>
</body>
</html>
